.container {
    margin: 5px;
}

.label {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.input {
    border: 2px solid #F2F3F5;
    width: 100%;
    height: 24px;
}

.textarea {
    width: 100%;
    height: 150px;
    border: 2px solid #F2F3F5;
    background-color: transparent;
    font-size: 15px;
    color: #172b4d;
    font-size: 15px;
    resize: none;
    outline: none;
}