.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #24292F;
    color: #fff;
    position: sticky;
    z-index: 0;
}

.menu {
    display: flex;
    gap: 2em;
    font-size: 18px;
}